<!-- "Add Category" Modal Box -->
<div id="modalAddCategory" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      
      <div class="header">
        
        <span id="btnEditCategory" class="material-icons" onclick="alert(screen.width)">edit</span>
        <span id="btnDeleteCategory" class="material-icons">delete</span>
        <span id="btnCloseModal">&times;</span>
        <span id="titleText">Nova / Edição de Categoria</span>

      </div>

      <hr class="header-separator">
            
      <div class="icon-and-type-container">
        
        <label for="imgIcon" class="icon-container label-border">
          <span>Ícone</span>
          <img src="" alt="" id="imgIcon">
        </label>

        <label class="type-container label-border">
          <span>Tipo das transações</span>          
          
          <div>
            <input type="radio" name="transactionType" id="radioCred" value="c"><label for="radioCred">Ganhos / Entrada</label>
          </div>
          <div>
            <input type="radio" name="transactionType" id="radioDeb" value="d" class="separator"><label for="radioDeb">Gastos / Saída</label>
          </div>

        </label>

      </div>

      <label for="editName" id="labelName">
        <div class="name-container label-border">
          <span>Nome da categoria</span>
          <input type="text" name="name" id="editName" class="borderless" onkeyup="setInputUppercase( this )">
        </div>
      </label>

      <div class="button-container">
        <button class="btn btn-cl-red" id="btnCancel">CANCELAR</button>
        <button class="btn btn-cl-green" id="btnSave">SALVAR</button>
      </div>

      <input type="number" name="id" id="editId" hidden>
      <input type="number" name="userId" id="editUserId" hidden>

    </div>

</div>

<!-- 'Select icon' modal start-->
<%- include('./modal-select-icon.html', {}); %>
<!-- 'Select icon' modal end-->