<!-- "Add Category" Modal Box -->
<div id="modalAddCategory" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="btnCloseModal" id="buttonCloseModal">&times;</span>

        <div class="new-category-box">
            <h1 id="modalTitle">Nova / Edição de Categoria</h1>
            
            <form action="#">
                <input type="number" name="id" id="editId" hidden>
                <input type="number" name="userId" id="editUserId" hidden>
            
                <label for="editName" id="labelName" class="field-border">
                    <span>Nome da categoria</span>
                    <input type="text" name="name" id="editName" class="borderless">
                </label>
            
                <fieldset class="field-border flex-container-row">
                    <legend>Tipo de transações desta categoria</legend>
                    <div>
                        <input type="radio" name="transactionType" id="radioCred" value="c"><label for="radioCred">Ganhos</label>
                    </div>
                    <div>
                        <input type="radio" name="transactionType" id="radioDeb" value="d" class="separator"><label for="radioDeb">Gastos</label>
                    </div>
                </fieldset>
            
                <div class="button-container">
                    <a class="btn" id="btnCancel">Cancelar</a>
                    <a class="btn" id="btnSave">Salvar</a>
                </div>
            </form>
        </div>

    </div>
</div>