<!-- For this module to work correctly, the tags below must be added in the <head> tag of the page where this module will be added

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="/stylesheets/modal-wallet-list.css">

 -->
<div mwa-page="modal-wallet-list" id="walletsListModalWrapper">
  <div class="wallet-list-container" id="walletListContainer">
    <div class="header">
        <span class="title">Selecione a carteia abaixo</span>
        <span class="fa fa-times" id="btnCloseWalletList" aria-hidden="true"></span>
    </div>
    
    <div class="post-header">
        <span>Carteira</span>
        <span>Saldo</span>
    </div>

    <ul class="list" id="listContainer">
      <li class="list-item" onclick="switchItems( this )">
        <span>Carteira 1</span>
        <div>
          <span>R$</span>
          <span>1.850,00</span>
        </div>
      </li>
    </ul>

    <div class="footer">
        <button id="btnCancel_WalletSelectionModal"> <i class="bi bi-x-lg"></i> CANCELAR</button>
        <button id="btnSelect_WalletSelectionModal" disabled> <i class="bi bi-check2"></i> SELECIONAR</button>
    </div>
  </div>
</div>

<script>
  var selectedWallet
  var btnCloseModal = document.getElementById('btnCloseWalletList')
  var btnCancel = document.getElementById('btnCancel_WalletSelectionModal')
  let btnSelect = document.getElementById('btnSelect_WalletSelectionModal')

  btnCloseModal.onclick = () => { cancelWalletSelection() }
  btnCancel.onclick = () => { cancelWalletSelection() }
  btnSelect.onclick = () => { confirmWalletSelection() }

  function switchItems( clickedItem ) {
  
    // find all the elements in your channel list and loop over them
    Array.prototype.slice.call( document.querySelectorAll('ul.list li.list-item') ).forEach( ( item ) => {
     
      // remove the selected class
      item.classList.remove('selected-item')

    })
    
    // add the selected class to the element that was clicked
    clickedItem.classList.add('selected-item')

    selectedWallet = clickedItem.getAttribute('mwaWalletId')
    btnSelect.disabled = false
  }

  async function getWalletsList() {
    let listContainer = document.getElementById( 'listContainer' )
    let walletsList
    let htmlContent
    
    try {
      result = await axios.get( `/wallets/user/${userId}` )
      walletsList = result.data

      listContainer.innerHTML = ''
      htmlContent = ''

      // console.log(walletsList)
      walletsList.forEach( wallet => {
      
        htmlContent += `<li class="list-item" onclick="switchItems( this )" mwaWalletId="${wallet.id}">`
        htmlContent += `<span>${wallet.name}</span>`
        htmlContent += '<div>'
        htmlContent += `<span>${wallet.currencySymbol}</span>`
        htmlContent += ` <span>${Number(wallet.actualBalance).toFixed(2)}</span>`
        htmlContent += '</div>'
        htmlContent += '</li>'

      })

      listContainer.innerHTML = htmlContent
    }
    catch (e) {
      console.log(`Erro: ${e}`)
    }
  }

  function confirmWalletSelection() {
    let myModal = document.getElementById('walletsListModalWrapper')

    myModal.style.display = 'none'
    btnSelect.disabled = true
  }
  
  function cancelWalletSelection() {
    let myModal = document.getElementById('walletsListModalWrapper')

    selectedWallet = -1
    myModal.style.display = 'none'
    btnSelect.disabled = true
  }
</script>