    <div type="modal-wrapper" id="selectIconModal">
      <div class="select-icon-modal">

        <div class="header">
          <span class="close-modal-button" id="btnCloseIconModal">×</span>
          <span class="header-title">Selecione um ícone abaixo</span>
        </div>

        <hr class="header-separator">

        <div class="icons-container">
          <ul class="icons-list" id="iconsList">

          </ul>
        </div>

      </div>

      <script type="text/javascript" src="/javascripts/modal-select-icon.js" defer=""></script>
      <link rel="stylesheet" href="/stylesheets/modal-select-icon.css">

    </div>