    <div id="topNotificationBarParent">
        <div id="topNotificationBar" class="regular">
            <div class="content">
                <div class="message-area" id="topNotificationBar-messageContainer">
                    <span class="message" id="notificationMessage"> ** Messages will be displayed here ** </span>
                </div>
    
                <div class="cta-area" id="topNotificationBar-buttonContainer">
                    <a class="button cta-btn" id="notificationCTAButton">
                        <span class="caption">Saiba mais...</span>
                    </a>
                </div>
            </div>
        </div>

        <script src="/javascripts/top-notification-bar.js"></script>
    </div>