* {
    /* border: 1px black solid; */
    box-sizing: border-box;
}

body[mwa-page="categories-listing"] {
    background-color: transparent;
    margin: 0px;
}

body[mwa-page="categories-listing"] .side-navbar {
    position: fixed;
    z-index: 200;
    width: 80px;
    height: 100vh;
    background: #fff;
}

body[mwa-page="categories-listing"] .toolbar {
    display: flex;
    justify-content: space-between;
    height: 64px;
    border-bottom: 1px solid silver;
}

body[mwa-page="categories-listing"] .toolbar > #leftSide {
    display: flex;
    /* flex-basis: 250px */
}

body[mwa-page="categories-listing"] .toolbar #leftSide .back-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body[mwa-page="categories-listing"] .toolbar #leftSide .img-back-button{
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: .5;
    cursor: pointer;
}

body[mwa-page="categories-listing"] .toolbar #leftSide .page-title-container{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

body[mwa-page="categories-listing"] .toolbar > #rightSide {
    display: flex;
    justify-content: right;
    padding: 8px;
    /* flex-basis: calc(100% - 250px); */
}

body[mwa-page="categories-listing"] .toolbar > #rightSide > #bntNewCategory {
    margin: 8px;
    border-radius: 4px;
}

body[mwa-page="categories-listing"] .category-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    background-color: rgb(228, 228, 228);

    /* padding-left: 80px; */
    min-height: calc( 100vh - 64px );
    padding-top: 30px;
    padding-bottom: 20px;
}

body[mwa-page="categories-listing"] .category-box {
    height: min-content;
    flex-basis: 41%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 0 0px 24px 0 rgba(0,0,0,.20);
}

body[mwa-page="categories-listing"] .category-edit-container {
    display: none;
    height: min-content;
    background-color: white;
    /* flex-basis: 41%; */
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 0 0px 24px 0 rgba(0,0,0,.20);
}

body[mwa-page="categories-listing"] .category-edit-container #modalTitle {
    /* background-color: red; */
    background-color: transparent;
}

body[mwa-page="categories-listing"] .category-edit-container .btnCloseEditor {
    margin-top: -25px;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

body[mwa-page="categories-listing"] .category-box > .categories-list {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
}

body[mwa-page="categories-listing"] .category-box > .categories-list > .list-section-header {
    background-color: rgb(240, 240, 240);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: .5px solid rgba(0,0,0,.12);
}

body[mwa-page="categories-listing"] .category-box > .categories-list > .list-section-header:last-of-type {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom: 0px;
}

body[mwa-page="categories-listing"] .category-box > .categories-list > li > .list-section-title {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0px;
    height: 40px;
    color: rgba(11, 8, 8, 0.54);
    border-bottom: .5px solid rgba(0,0,0,.12);
}

body[mwa-page="categories-listing"] .category-box > .categories-list > li > .list-section-title > span {
    padding-left: 20px;
}

body[mwa-page="categories-listing"] .category-box > .categories-list > li > .categories-sublist {
    list-style-type: none;
    padding-left: 0px;
}

body[mwa-page="categories-listing"] .category-box > .categories-list > li > .categories-sublist > .list-item {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    cursor: pointer;
    font-size: 11px;
    font-weight: 300;
}

body[mwa-page="categories-listing"] .category-box > .categories-list > li > .categories-sublist > .list-item:hover .category-management-buttons-container {
    display: flex;
}

body[mwa-page="categories-listing"] .category-box > .categories-list > li > .categories-sublist .category-management-buttons-container {
    display: none;
    gap: 10px;
    float: right;
    margin-top: -5px;
    margin-right: 10px;
}

body[mwa-page="categories-listing"] .category-box > .categories-list > li > .categories-sublist > .list-item > span {
    padding-left: 42px;
}

body[mwa-page="categories-listing"] .category-box > .categories-list > li > .categories-sublist > .list-item:hover {
    /* background-color: rgb(239, 249, 241); */
    background-color: rgb(204, 240, 212);
    font-weight: bold;
}

body[mwa-page="categories-listing"] .category-box > .categories-list > li > .categories-sublist > .list-item .category-management-buttons {
    font-size: 18px;
    color: gray;
    margin-top: auto;
    padding: 0px;
}

body[mwa-page="categories-listing"] .category-box > .categories-list > li > .categories-sublist > .list-item .category-management-buttons:hover {
    border: 1px gray solid;
    border-radius: 8px;
}


@media (max-width: 600px) {
    body[mwa-page="categories-listing"] .category-box {
        flex-basis: 81%;
    }
}