@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto&display=swap');

* {
    /* border: 1px black solid; */
    box-sizing: border-box;
}

h1 {
    font-size: 23px;
    text-align: center;
    padding-bottom: 10px;
    /* margin-bottom: 30px; */
    border-bottom: solid 1px lightgray;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.new-category-box {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    max-width: 500px;
}

.field-border {
    border: 1px lightgray solid;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
}

.borderless {
    border: none;
}

.new-category-box {
    margin: auto;
}

.new-category-box label {
    cursor: pointer;
}

.new-category-box > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.new-category-box > form > #labelName {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}

.new-category-box > form > fieldset {
    justify-content: space-around;
    padding: 20px;
}

.new-category-box input[type="text"] {
    text-align: center;
}

.new-category-box > form > fieldset > legend {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

input:focus{
    outline: none;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Modal Section */
/* The Modal (background) */
body[mwa-page="categories-listing"] .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  body[mwa-page="categories-listing"] .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 650px;
    /* width: 80%; */
  }
  
  /* The Close Button */
  body[mwa-page="categories-listing"] .btnCloseModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  body[mwa-page="categories-listing"] .btnCloseModal:hover, .btnCloseModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /* End of modal section */

@media (max-width:600px) {
    body[mwa-page="categories-listing"] .new-category-box {
        margin-left: auto;
        margin-right: auto;
        max-width: 350px;
    }   
}