@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,500;1,800&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,500;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i');

:root {
    --black: #1d1f20;
    --blue: #83e4e2;
    --green: #a2ed56;
    --yellow: #fddc32;
    --white: #fafafa;
}

* {
    /* border: 1px solid black; */
    box-sizing: border-box;
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* background: #3498db; */
    /* width: 100%; */
}


/* -------------------------------------------------------------------------- */
/* Notification Bar Styles                                                    */
/* -------------------------------------------------------------------------- */
#topNotificationBar {
    z-index: 999;
    /* font-family: "Open Sans", sans-serif; */
    width: auto;
    max-width: 80%;
    margin: 0;
    top: -50px;
    height: 30px;
    display: table;
    font-size: 17px;
    font-weight: 400;
    padding: .33em .5em;
    -webkit-font-smoothing: antialiased;
    color: #5c5e60;
    position: fixed;
    background-color: white;
    box-shadow: 0 1px 3px 2px rgba(0,0,0,0.15);

    /* Sliding transition effect */
    transition: top 500ms;
    -webkit-transition: top 500ms;
}
#topNotificationBar.regular {
    height: 30px;
    font-size: 14px;
    padding: .2em .5em;
}
#topNotificationBar .content {
    display: flex;
    flex-direction: row;
    height: 25px;
}

#topNotificationBar .message-area {
    flex-basis: 70%;
    display: flex;
    align-items: center;
}

#topNotificationBar .cta-area {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#topNotificationBar .cta-area a {
    margin: 0px;
    padding: 0px;
    max-width: 80%;
    text-align: center;
}

#topNotificationBar .button {
    color: #ffffff;
    background-color: #22af73;
    border-color: #22af73;
    opacity: 1;
    cursor: pointer;
    line-height: 1.5;
    width: 100px;
    text-align: center;
    position: relative;
    border-radius: 3px;
    white-space: nowrap;
    margin: 1.75em auto 0;
    text-decoration: none;
    padding: 0;
    overflow: hidden;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* Transactions Page Styles                                                   */
/* -------------------------------------------------------------------------- */

body[mwa-page="transactions-listing"] {
    margin: 0px;
    background-color: rgb(228, 228, 228);
}

body[mwa-page="transactions-listing"] .toolbar{
    display: flex;
    background-color: white;
    justify-content: space-between;
    height: 64px;
    border-bottom: 1px solid silver;
}

body[mwa-page="transactions-listing"] .toolbar .img-back-button{
    cursor: pointer;
}

body[mwa-page="transactions-listing"] .toolbar #leftSide{
    display: flex;;
    flex-basis: 600px;
}

body[mwa-page="transactions-listing"] .toolbar #leftSide .back-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body[mwa-page="transactions-listing"] .toolbar #leftSide .img-back-button{
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-right: 10px;
}

body[mwa-page="transactions-listing"] .toolbar #leftSide .no-wallet-selected-container{
    display: flex;
    flex-basis: 100%;
    margin: 3px;
}

body[mwa-page="transactions-listing"] .toolbar #leftSide .select-wallet-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
}

body[mwa-page="transactions-listing"] .toolbar #leftSide .select-wallet-container span{
    font-size: 12px;
}

body[mwa-page="transactions-listing"] .toolbar #leftSide .select-wallet-container #ctaSelectWallet{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

body[mwa-page="transactions-listing"] .toolbar #leftSide .wallet-container{
    display: flex;
    flex-basis: 100%;
    margin: 3px;
}

body[mwa-page="transactions-listing"] .toolbar #leftSide .wallet-icon{
    width: 48px;
    height: auto;
}

body[mwa-page="transactions-listing"] .toolbar #leftSide .wallet-container .wallet-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body[mwa-page="transactions-listing"] .toolbar #leftSide .wallet-container .wallet-info span{
    display: block;
}

body[mwa-page="transactions-listing"] .toolbar #leftSide .wallet-container .wallet-info #toolbarWalletName{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    padding-top: 10px;
}

body[mwa-page="transactions-listing"] .toolbar #leftSide .wallet-container .wallet-info #toolbarWalletName:hover {
    text-decoration: solid;
    text-decoration-line: underline;
}

body[mwa-page="transactions-listing"] .toolbar #leftSide .wallet-container .wallet-info .change-wallet-icon{
    font-size: 12px;
    margin-left: 5px;
}

body[mwa-page="transactions-listing"] .toolbar #leftSide .wallet-container .wallet-info #toolbarWalletBalance{
    font-size: 14px;
}

body[mwa-page="transactions-listing"] .toolbar #rightSide{
    display: flex;
    justify-content: right;
    flex-basis: calc(100% - 130px);
}

body[mwa-page="transactions-listing"] .toolbar #rightSide .commands-container{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 20px;
}

body[mwa-page="transactions-listing"] main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

body[mwa-page="transactions-listing"] main .transactions-list {
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

body[mwa-page="transactions-listing"] .transactions-day-group {
    flex-direction: column;
    /* border: 3px solid blue; */
    border-radius: 0 10px 10px 10px;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    background-color: rgb(240, 240, 240);

    box-shadow: 0 0px 24px 0 rgba(0,0,0,.20);
}

body[mwa-page="transactions-listing"] .transactions-day-group .group-header {
    display: flex;
    position: relative;
    z-index: 3;
    flex-direction: row;
    /* border: 3px solid lime; */
    border-bottom: 0.5px solid rgba(0,0,0,.12);
    border-radius: 0 8px 0 0px;
    background-color: rgb(240, 240, 240);
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 10px;
    margin-left: 10px;
}

body[mwa-page="transactions-listing"] .transactions-day-group .day-number-box {
    position: absolute;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    width: 40px;
    height: 40px;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 0.5rem 0.5rem 0 0.5rem;
    font-family: 'Montserrat', sans-serif;

    background: linear-gradient(135deg, var( --green ) 0%, var( --yellow ) 100%);
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
}

body[mwa-page="transactions-listing"] .transactions-day-group .group-header .month-year-box{
    flex-basis: 100%;
    padding-left: 25px;
}

body[mwa-page="transactions-listing"] .transactions-day-group .group-header .month-year-box span{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

body[mwa-page="transactions-listing"] .transactions-day-group .group-total-value {
    flex-basis: 150px;

    display: flex;
    flex-direction: column;
    text-align: right;
}

body[mwa-page="transactions-listing"] .transactions-day-group .group-total-value .total-title {
    font-weight: bold;
}

body[mwa-page="transactions-listing"] .transactions-day-group .group-total-value #transactionsTotalValue {
    font-size: 12px;
}

body[mwa-page="transactions-listing"] .transactions-day-group .group-body {
    display: flex;
    flex-direction: row;
    /* padding-left: 25px; */
    /* background-color: white; */
}

body[mwa-page="transactions-listing"] .transactions-day-group .group-body .group-items-container {
    /* border: 3px solid red; */
    border-radius: 0 0 8px 8px;
    width: 100%;
}

body[mwa-page="transactions-listing"] .transactions-day-group .group-body .group-items-container .transaction-item {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 6px;

    transition: background-color 300ms;
}

body[mwa-page="transactions-listing"] .transactions-day-group .group-body .group-items-container .transaction-item:hover {
    background-color: rgb(204, 240, 212);
}

body[mwa-page="transactions-listing"] .transactions-day-group .group-body .group-items-container .transaction-item:last-child {
    border-radius: 0 0 8px 8px;
}

body[mwa-page="transactions-listing"] .transactions-day-group .group-body .group-items-container .item-category-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 45px;
    margin-left: 10px;
    margin-right: 10px;
}

body[mwa-page="transactions-listing"] .transactions-day-group .group-body .group-items-container .item-body-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex-basis: 100%;
}

body[mwa-page="transactions-listing"] .transactions-day-group .group-body .group-items-container .item-value-container {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-basis: 170px;
    margin-right: 5px;
}

body[mwa-page="transactions-listing"] .transactions-day-group .group-body .group-items-container #transactionCategoryName {
    font-size: 12px;
    font-weight: bold;
}

body[mwa-page="transactions-listing"] .transactions-day-group .group-body .group-items-container #transactionDescription {
    font-size: 11px;
}

body[mwa-page="transactions-listing"] .transactions-day-group .group-body .group-items-container #transactionValue {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
}

/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* Wallets Page Styles                                                        */
/* -------------------------------------------------------------------------- */
body[mwa-page="wallets-listing"] {
margin: 0px;
    background-color: rgb(228, 228, 228);
}

body[mwa-page="wallets-listing"] .toolbar{
    display: flex;
    background-color: white;
    justify-content: space-between;
    height: 64px;
    border-bottom: 1px solid silver;
}

body[mwa-page="wallets-listing"] .toolbar .img-back-button{
    cursor: pointer;
}

body[mwa-page="wallets-listing"] .toolbar #leftSide{
    display: flex;;
    flex-basis: 380px;
}

body[mwa-page="wallets-listing"] .toolbar #leftSide .back-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body[mwa-page="wallets-listing"] .toolbar #leftSide .img-back-button{
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-right: 10px;
}

body[mwa-page="wallets-listing"] .toolbar #leftSide .page-title-container{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

body[mwa-page="wallets-listing"] .toolbar #rightSide{
    display: flex;
    justify-content: right;
    flex-basis: calc(100% - 130px);
}

body[mwa-page="wallets-listing"] .toolbar #rightSide .commands-container{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

body[mwa-page="wallets-listing"] main{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 40px;
}

body[mwa-page="wallets-listing"] main .list-container{
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

body[mwa-page="wallets-listing"] main .wallets-list{
    list-style: none;
    padding: 0px;
    margin: 0px;
    border-radius: 8px 8px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0px 24px 0 rgba(0,0,0,.20);
}

body[mwa-page="wallets-listing"] main .wallets-list .list-header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgba(0,0,0,.12);
}

body[mwa-page="wallets-listing"] main .wallets-list .list-item {
    display: flex;
    flex-direction: row;
    background-color: white;
    position: relative;
    transition: all 300ms;
}

body[mwa-page="wallets-listing"] main .wallets-list #noWalletsToShow {
    flex: 1;
    text-align: center;
    padding: 10px;
}

body[mwa-page="wallets-listing"] main .wallets-list #noWalletsToShow #ctaCreateNewWallet {
    cursor: pointer;
    color: green;
}

body[mwa-page="wallets-listing"] main .wallets-list .list-item:hover {
    background-color: rgb(204, 240, 212);
}

body[mwa-page="wallets-listing"] main .wallets-list .list-item:hover .tools-container {
    opacity: 1;
}

body[mwa-page="wallets-listing"] main .wallets-list .list-item .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

body[mwa-page="wallets-listing"] main .wallets-list .list-item .icon-container img {
    margin: 5px;
    width: 55px;
    height: 55px;
    font-size: 9px;
    text-align: center;
    border-radius: 100%;
    /* border: red solid 2px; */
}

body[mwa-page="wallets-listing"] main .wallets-list .list-item .name-container {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    /* border: blue 2px solid; */
}

body[mwa-page="wallets-listing"] main .wallets-list .list-item .balance-container {
    min-width: 120px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 14px;
    padding-right: 10px;
    /* border: yellow 2px solid; */
}

body[mwa-page="wallets-listing"] main .wallets-list .list-item .balance-container .walletBalancePositive {
    color: #039be5;
}

body[mwa-page="wallets-listing"] main .wallets-list .list-item .balance-container .walletBalanceNegative {
    color: #e51c23;
}

body[mwa-page="wallets-listing"] main .wallets-list .list-item .tools-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 10px;
    width: 120px;
    gap: 10px;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.8+0,0.8+100 */
    background: -moz-linear-gradient(left,  rgba(204, 240, 212,0.8) 0%, rgba(255,255,255,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(204, 240, 212,0.8) 0%,rgba(255,255,255,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(204, 240, 212,0.8) 0%,rgba(255,255,255,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ccffffff',GradientType=1 ); /* IE6-9 */
    
    opacity: 0;
    transition: all 300ms;
}

body[mwa-page="wallets-listing"] main .wallets-list .list-item .tools-container span[name="btnEditWallet"],
body[mwa-page="wallets-listing"] main .wallets-list .list-item .tools-container span[name="btnDeleteWallet"] {
    transition: all 100ms;
    cursor: pointer;
}

body[mwa-page="wallets-listing"] main .wallets-list .list-item .tools-container span[name="btnEditWallet"]:hover {
    font-size: 30px;
    color: green;
}

body[mwa-page="wallets-listing"] main .wallets-list .list-item .tools-container span[name="btnDeleteWallet"]:hover {
    font-size: 30px;
    color: red;
}

body[mwa-page="wallets-listing"] main .wallet-editor-container {
    border-radius: 8px 8px;
    /* background-color: rgb(240, 240, 240); */
    background-color: white;
    box-shadow: 0 0px 24px 0 rgba(0,0,0,.20);

    display: none;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

body[mwa-page="wallets-listing"] .wallet-editor-container #btnCloseEditor {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
   cursor: pointer;
 }

body[mwa-page="wallets-listing"] .wallet-editor-container .edit-wallet-box {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    margin: auto;
    padding: 10px;
    /* max-width: 500px; */
}

body[mwa-page="wallets-listing"] .editor-content {
    background-color: #fefefe;
    margin: auto;
    /* border: 1px solid #888; */
    max-width: 500px;
    /* width: 80%; */
}

body[mwa-page="wallets-listing"] .editor-content #editorTitle {
    font-size: 23px;
    text-align: center;
    padding-bottom: 10px;
    /* margin-bottom: 30px; */
    border-bottom: solid 1px lightgray;
}

body[mwa-page="wallets-listing"] .editor-content label {
    cursor: pointer;
}

body[mwa-page="wallets-listing"] .editor-content #labelName {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}

body[mwa-page="wallets-listing"] .editor-content input[type="text"], body[mwa-page="wallets-listing"] .editor-content input[type="number"] {
    text-align: center;
}

body[mwa-page="wallets-listing"] .editor-content input:focus {
    outline: none;
}

body[mwa-page="wallets-listing"] .editor-content form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body[mwa-page="wallets-listing"] .editor-content .symbol-balance-container {
    display: flex;
    /* flex-flow: row; */
    gap: 20px;
}

body[mwa-page="wallets-listing"] .editor-content .symbol-balance-container #labelName {
    flex: 1;
}

body[mwa-page="wallets-listing"] .editor-content .button-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

body[mwa-page="wallets-listing"] .editor-content .button-container a {
    flex: 1;
}

/* Modal Content */
body[mwa-page="wallets-listing"] .modal-form {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

body[mwa-page="wallets-listing"] .modal-form .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 500px;
    /* width: 80%; */
  }

body[mwa-page="wallets-listing"] .modal-form #modalTitle {
    font-size: 23px;
    text-align: center;
    padding-bottom: 10px;
    /* margin-bottom: 30px; */
    border-bottom: solid 1px lightgray;
}

 body[mwa-page="wallets-listing"] .modal-form .new-wallet-box {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    padding: 10px;
    max-width: 500px;
  }

body[mwa-page="wallets-listing"] .modal-form .new-category-box label {
    cursor: pointer;
}

body[mwa-page="wallets-listing"] .modal-form #labelName {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}

body[mwa-page="wallets-listing"] .modal-form input[type="text"], body[mwa-page="wallets-listing"] .modal-form input[type="number"] {
    text-align: center;
}

body[mwa-page="wallets-listing"] .modal-form input:focus{
    outline: none;
}

body[mwa-page="wallets-listing"] .modal-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
  /* The Close Button */
  body[mwa-page="wallets-listing"] .modal-form #btnCloseModal {
     color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  body[mwa-page="wallets-listing"] .modal-form #btnCloseModal:hover, body[mwa-page="wallets-listing"] .modal-form #btnCloseModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

body[mwa-page="wallets-listing"] .modal-form .button-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

body[mwa-page="wallets-listing"] .modal-form .button-container a {
  flex: 1;
}

body[mwa-page="wallets-listing"] .modal-form .symbol-balance-container {
  display: flex;
  gap: 20px;
}

body[mwa-page="wallets-listing"] .modal-form .symbol-balance-container #labelName {
  flex: 1;
}
  /* End of modal section */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* CSS Button                                                                 */
/* -------------------------------------------------------------------------- */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px 5px 15px;
    gap: 10px;
    height: 35px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-size: 11px;
    font-weight: 900;
    cursor: pointer;

    transition: filter 200ms;
    -webkit-transition: filter 200ms;
}

.btn:focus, .btn:hover {
    filter: brightness(90%);
}

.btn[disabled]:focus, .btn[disabled]:hover {
    filter: none;
}

.btn > .btn-caption, .btn > .btn-icon {
    background: inherit;
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    /* filter: invert(1) grayscale(1) contrast(9); */
    filter: invert() grayscale() contrast(9999);
}

.btn .btn-icon {
    border-left: 1px solid #00000082;
    padding-left: 5px;
    font-size: 18px
}

.btn-cl-green {
    background-color: rgb(71 207 115);
}

.btn-cl-blue {
    background-color: rgb(40 121 255);
}

.btn-cl-red {
    background-color: #e62222;
}

.btn-cl-yellow {
    background-color: rgb(198, 198, 83);
}

button[disabled] {
    opacity: 0.5;
    transition: none;
    filter: none;
    cursor: not-allowed;
}


/* -------------------------------------------------------------------------- */

/* Global CSS */

.field-border {
    border: 1px lightgray solid;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
}

.borderless {
    border: none;
}

.blur-element {
/*     
    For this filter to work correctly, this class must be added to the component where the filter will be applied.
    If in doubt, read the post below to understand better.

    https://stackoverflow.com/questions/27583937/how-can-i-make-a-css-glass-blur-effect-work-for-an-overlay
*/
    
    filter: blur(3px);
      -webkit-filter: blur(3px); /* Safari */
      -moz-filter: blur(3px); /* Firefox */
      -o-filter: blur(3px);
      -ms-filter: blur(3px); /* Internet Explorer/Edge */
    
    /* Disables the user from selecting text from this element */
    user-select: none; /* supported by Chrome and Opera */
     -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
  
    /* Disable clicks here */
    pointer-events: none;
  }