.wallet-list-container {
    display: block;
    position: relative;
    /* border: solid 1px black; */
    max-width: 500px;
    flex-basis: 500px;
    margin: auto;
    background-color: white;
    box-shadow: 2px 2px 15px 3px rgba(0,0,0,.2);
  }
  
  .wallet-list-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 12px 30px;
    overflow: hidden;
    background: rgb(162, 222, 247);
  }
  
  .wallet-list-container .header .title {
    width: 100%;
    text-align: center;
  }
  
  .wallet-list-container .header #btnCloseWalletList {
    margin-right: -10px;
    cursor: pointer;
  }
  
  .wallet-list-container .header #btnCloseWalletList:hover {
    color: red;
  }
  
  .wallet-list-container .post-header {
    display: flex;
    justify-content: space-between;
    padding: 3px 10px 3px 10px;
    align-items: center;
    border-bottom: dashed 1px silver;
    font-size: 11px;
  }
  
  .wallet-list-container .list {
    padding: 0;
    margin: 0;
  }
  
  .wallet-list-container .list .list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .wallet-list-container .list .list-item:hover {
    background: rgba(162, 222, 247, .3);
  }
  
  .wallet-list-container .list .selected-item {
      color:blue;
      font-weight: bolder;
      border-left:4px solid blue;
  }
  
  .wallet-list-container .list .selected-item:before {
      content: content + 'teste';
  }
  
  .wallet-list-container .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    border-top: dashed 1px silver;
  }
  
  .wallet-list-container .footer button {
    flex-basis: 40%;
    padding: 10px;
  }
  
  .wallet-list-container .footer #btnCancel_WalletSelectionModal {
    border: 1px solid #DA2632;
    border-radius: 15px;
    font-weight: bolder;
  }
  
  .wallet-list-container .footer #btnCancel_WalletSelectionModal:hover {
    background-color: #DA2632;
    cursor: pointer;
    color: white;
  }
  
  .wallet-list-container .footer #btnSelect_WalletSelectionModal {
    border: 1px solid #8CDA26;
    border-radius: 15px;
    font-weight: bolder;
  }
  
  .wallet-list-container .footer #btnSelect_WalletSelectionModal:hover {
    background-color: #8CDA26;
    cursor: pointer;
    color: white;
  }  