/* Chrome, Safari, Edge, Opera */
div[mwa-page="transaction-new-form"] input::-webkit-outer-spin-button,
div[mwa-page="transaction-new-form"] input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
div[mwa-page="transaction-new-form"] input[type=number] {
  -moz-appearance: textfield;
}

/* body {
    background-color: white;
    display: flex;
    justify-content: center;
    /* align-items: center; */
/*} */

div[mwa-page="transaction-new-form"] h1 {
    font-size: 23px;
    text-align: center;
    padding-bottom: 10px;
    /* margin-bottom: 30px; */
    border-bottom: solid 1px lightgray;
}

div[mwa-page="transaction-new-form"] .text-center {
    text-align: center;
}

div[mwa-page="transaction-new-form"] .text-right {
    text-align: right;
}

div[mwa-page="transaction-new-form"] .field-border {
    border: 1px lightgray solid;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
}

div[mwa-page="transaction-new-form"] .transaction-box {
    max-width: 650px;
}

div[mwa-page="transaction-new-form"] .full-label {
    display: block;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

div[mwa-page="transaction-new-form"] .boderderless {
    border: 0px;
}

div[mwa-page="transaction-new-form"] .selection-edit {
    width: 100%;
}

div[mwa-page="transaction-new-form"] .wallet-category-section {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px;
}

div[mwa-page="transaction-new-form"] .flex-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div[mwa-page="transaction-new-form"] .flex-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

div[mwa-page="transaction-new-form"] .section-title {
    display: flex;
    justify-items: left;
    padding-left: 10px;
}

div[mwa-page="transaction-new-form"] .section-selection {
    display: flex;
    gap: 5px;
    margin: 10px 0px 0px 0px;
}

div[mwa-page="transaction-new-form"] .wallet-icon {
    width: 32px;
    height: auto;
}

div[mwa-page="transaction-new-form"] .wallet-selection-text {
    display: flex;
    flex: 1;
    align-items: center;
}

div[mwa-page="transaction-new-form"] .fields-section {
    display: grid;
    gap: 15px;
    margin: 10px;
    grid-template-columns: 135px auto 100px;
    grid-template-areas:
        'areaDate areaDescription areaValue'
        'areaExtraDetails areaExtraDetails areaExtraDetails';
}

div[mwa-page="transaction-new-form"] .section-date {
    grid-area: areaDate;
}

div[mwa-page="transaction-new-form"] .section-description {
    grid-area: areaDescription;
}

div[mwa-page="transaction-new-form"] .section-value {
    grid-area: areaValue;
}

div[mwa-page="transaction-new-form"] .section-extra-details {
    grid-area: areaExtraDetails;
}

div[mwa-page="transaction-new-form"] .button-container {
    display: flex;
    justify-content: right;
    gap: 15px;
    margin: 10px;
}

div[mwa-page="transaction-new-form"] .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 13px;
    text-decoration: none;
    color: black;
    margin: 10px;
    flex-basis: 100px;
    height: 35px;
    background-color: rgb(228, 254, 228);
    border: rgb(145, 205, 145) 2px solid;
    border-radius: 5px;
    cursor: pointer;
}

div[mwa-page="transaction-new-form"] .btn span:first-of-type {
    margin-top: -12px;
    /* padding: 0px; */
    /* font-size: 7px; */
}

div[mwa-page="transaction-new-form"] .btn span:last-of-type {
    margin: -10px;
    padding: 0px;
    font-size: 7px;
}

div[mwa-page="transaction-new-form"] .btn:hover {
    color: white;
    font-weight: bold;
    background-color: rgb(82, 150, 82);
    border: rgb(49, 99, 49) 2px solid;
    border-radius: 5px;
}

div[mwa-page="transaction-new-form"] input:focus{
    outline: none;
}

/* Modal Section */
/* The Modal (background) */
div[mwa-page="transaction-new-form"].modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  div[mwa-page="transaction-new-form"] .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 650px;
    /* width: 80%; */
  }
  
  /* The Close Button */
  div[mwa-page="transaction-new-form"] .btnCloseModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  div[mwa-page="transaction-new-form"] .btnCloseModal:hover,
  div[mwa-page="transaction-new-form"] .btnCloseModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  @media (max-width:600px) {
    div[mwa-page="transaction-new-form"].modal {
        padding-top: auto;
        padding-bottom: auto;
    }
    
    div[mwa-page="transaction-new-form"] .modal-content {
        /* background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888; */
        /* width: 650px; */
        width: 90%;
    }

    div[mwa-page="transaction-new-form"] .button-container {
        justify-content: space-between;
    }
    
    div[mwa-page="transaction-new-form"] .fields-section {
        display: grid;
        gap: 15px;
        margin: 10px;
        grid-template-columns: 135px auto 100px;
        grid-template-areas:
            'areaDate areaValue areaValue'
            'areaDescription areaDescription areaDescription'
            'areaExtraDetails areaExtraDetails areaExtraDetails';
    }
}