<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/categories-listing.css">
    <link rel="stylesheet" href="/stylesheets/category-new-form.css">
    <title>My Wallet App - Categorias</title>
</head>
<body mwa-page="categories-listing">
    <!-- <nav class="side-navbar">
        teste
    </nav> -->
    
    <header class="toolbar">
        <div id="leftSide">
            <img src="/images/left-arrow.jpg" alt="seta voltar" onclick="history.back()">
        </div>

        <div id="rightSide">
            <button id="bntNewCategory">Adicionar categoria</button>
        </div>
    </header>

    <section class="category-list-container">
        <div class="category-box">
            <ul class="categories-list">
                <li class="list-section-header">
                    <h2 class="list-section-title"><span>Entrada / Ganhos</span></h2>
        
                    <ul class="categories-sublist">
                        <li class="list-item"><span>SALÁRIO</span></li>
                        <li class="list-item"><span>RENDIMENTOS</span></li>
                        <li class="list-item"><span>OUTRAS RECEITAS</span></li>
                        <li class="list-item"><span>DEPÓSITO</span></li>
                        <li class="list-item"><span>DEVOLUÇÃO</span></li>
                        <li class="list-item"><span>DEVOLUÇÃO</span></li>
                        <li class="list-item"><span>DEVOLUÇÃO</span></li>
                        <li class="list-item"><span>DEVOLUÇÃO</span></li>
                        <li class="list-item"><span>DEVOLUÇÃO</span></li>
                    </ul>
                </li>
        
                <li class="list-section-header">
                    <h2 class="list-section-title"><span>Saída / Gastos</span></h2>
        
                    <ul class="categories-sublist">
                        <li class="list-item"><span>CONTAS FIXAS MENSAIS</span></li>
                        <li class="list-item"><span>COMBUSTÍVEL</span></li>
                        <li class="list-item"><span>SUPERMERCADO</span></li>
                        <li class="list-item"><span>PADARIA</span></li>
                        <li class="list-item"><span>FARMÁCIA</span></li>
                        <li class="list-item"><span>DEVOLUÇÃO</span></li>
                        <li class="list-item"><span>DEVOLUÇÃO</span></li>
                        <li class="list-item"><span>DEVOLUÇÃO</span></li>
                        <li class="list-item"><span>DEVOLUÇÃO</span></li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

    <%- include('./partials/category-new-form.html'); %>
</body>
</html>