<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/global.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Minhas transações</title>
</head>
<body mwa-page="transactions-listing">
    
    <header class="toolbar">
        <div id="leftSide">
            <div class="back-button-container">
                <img class="img-back-button" src="/images/left-arrow.jpg" alt="seta voltar" onclick="history.back()">
            </div>

            <div class="wallet-container">
                <img class="wallet-icon" src="/images/wallet.png" alt="Ícone da carteira">
                <div class="wallet-info">
                    <span id="toolbarWalletName">Caixa Economica Federal do Brasil <i class="material-icons change-wallet-icon">arrow_drop_down</i></span>
                    <span id="toolbarWalletBalance">
                        <strong>+ R$ 1.257,50</strong>
                    </span>
                </div>
            </div>
        </div>

        <div id="rightSide">
            <div class="commands-container">
                <span class="material-icons">calendar_month</span>
                <span class="material-icons search-icon">search</span>

                <button class="btn btn-cl-green">
                    <span class="btn-caption">Adicionar transação</span>
                    <span class="btn-icon material-icons">add</span>
                </button>
            </div>
        </div>
    </header>

    <main>
        <section class="transactions-list">
            
            <ul class="transactions-day-group">
                <div class="group-header">
                    <div class="day-number-box">
                        <span id="groupDayNumber">25</span>
                    </div>
    
                    <div class="month-year-box">
                        <span id="groupMonthYear">janeiro de 2022</span>
                    </div>
                </div>

                <div class="group-body">
                    <li>kkk 1</li>
                    <li>kkk 2</li>
                    <li>kkk 3</li>
                    <li>kkk 4</li>
                </div>
            </ul>

            <ul class="transactions-day-group">
                <div class="day-number-box">
                    <span id="groupDayNumber">24</span>
                </div>

                <div class="month-year-box">
                    <span id="groupMonthYear">janeiro de 2022</span>
                </div>

                <li>kkk 0</li>
                <li>kkk 0.1</li>
                <li>kkk 0.2</li>
                <li>kkk 0.3</li>
            </ul>
        </section>

        <section>
            kkkk
        </section>
    </main>
</body>
</html>