<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="module" src="/javascripts/wallets-listing.js" defer></script>
    <title>Minhas carteiras</title>
</head>
<body mwa-page="wallets-listing">
    
    <header class="toolbar">
        <div id="leftSide">
            <div class="back-button-container">
                <img class="img-back-button" src="/images/left-arrow.jpg" alt="seta voltar" onclick="history.back()">
            </div>

            <div class="page-title-container">
                <span>Minhas carteiras</span>
            </div>
        </div>

        <div id="rightSide">
            <div class="commands-container">
                <span class="material-icons search-icon">search</span>

                <button class="btn btn-cl-green" id="btnNewWallet">
                    <span class="btn-caption">ADICIONAR CARTEIRA</span>
                    <span class="btn-icon material-icons">add</span>
                </button>
            </div>
        </div>
    </header>

    <main>
        <section class="list-container">
            
            <ul class="wallets-list">
                <div class="list-header">
                    <span>Aqui estão todas as suas carteiras cadastradas</span>
                </div>
                
                <% if (( walletsList ) && ( walletsList.length < 1 ))  { %>
                    <li class="list-item">
                        <span id="noWalletsToShow">
                            <span>Não há nenhuma carteira cadastrada!</span>
                            <br>
                            <br>
                            <span>Clique <a id="ctaCreateNewWallet"><strong><u>AQUI</u></strong></a> para cadastrar sua primeira carteira</span>
                        </span>
                    </li>
                <% } else { 
                    walletsList.forEach( (wallet, index) => { %>
                        <li class="list-item">
                            <div class="icon-container">
                                <img src="https://picsum.photos/40" alt="Ícone da carteira">
                            </div>
                            
                            <div class="name-container">
                                <span id="walletName"><%= wallet.name %></span>
                            </div>
        
                            <div class="balance-container">
                                <span id="walletBalance">+ <%= wallet.symbol %> <%= wallet.balance %></span>
                            </div>
        
                            <div class="tools-container">
                                <span class="material-icons" name="btnEditWallet">edit</span>
                                <span class="material-icons" name="btnDeleteWallet">delete</span>
                            </div>
                        </li>
                    <% } ) %>
            </ul>
            
            <% } %>
        </section>

        <section class="wallet-editor-container" id="walletEditorBox">
            <div class="editor-content">
                <span id="btnCloseEditor">&times;</span>
        
                <div class="edit-wallet-box">
                    <h1 id="editorTitle">Nova / Edição de Carteira</h1>
                    
                    <form action="#">
                        <input type="number" name="id" id="editId2" hidden>
                        <input type="number" name="userId" id="editUserId2" hidden>
                    
                        <div>
                            <label for="editName2" id="labelName" class="field-border">
                                <span>Nome da carteira</span>
                                <input type="text" name="name" id="editName2" class="borderless">
                            </label>
                        </div>
        
                        <div class="symbol-balance-container">
                            <label for="editSymbol2" id="labelName2" class="field-border">
                                <span>Símbolo da moeda (Ex: R$)</span>
                                <input type="text" name="currencySymbol" id="editSymbol2" class="borderless">
                            </label>
                            
                            <label for="editBalance2" id="labelName" class="field-border">
                                <span>Saldo inicial</span>
                                <input type="number" name="balance" id="editBalance2" class="borderless">
                            </label>
                        </div>
                    
                        <div class="button-container">
                            <a class="btn btn-cl-red" id="btnCancelEditing">Cancelar</a>
                            <a class="btn btn-cl-green" id="btnSaveEditing">Salvar</a>
                        </div>
                    </form>
                </div>
        
            </div>    
        </section>
    </main>

    <%- include('../partials/wallet-new-form.html'); %>

</body>
</html>