<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Minhas carteiras</title>
</head>
<body mwa-page="wallets-listing">
    
    <header class="toolbar">
        <div id="leftSide">
            <div class="back-button-container">
                <img class="img-back-button" src="/images/left-arrow.jpg" alt="seta voltar" onclick="history.back()">
            </div>

            <div class="page-title-container">
                <span>Minhas carteiras</span>
            </div>
        </div>

        <div id="rightSide">
            <div class="commands-container">
                <span class="material-icons search-icon">search</span>

                <button class="btn btn-cl-green">
                    <span class="btn-caption">ADICIONAR CARTEIRA</span>
                    <span class="btn-icon material-icons">add</span>
                </button>
            </div>
        </div>
    </header>

    <main>
        <section class="list-container">
            <ul class="wallets-list">
                <div class="list-header">
                    <span>Aqui estão todas as suas carteiras cadastradas</span>
                </div>
                
                <li class="list-item">
                    <div class="icon-container">
                        <img src="https://picsum.photos/40" alt="Ícone da carteira">
                    </div>
                    
                    <div class="name-container">
                        <span id="walletName">Nome da carteira</span>
                    </div>

                    <div class="balance-container">
                        <span id="walletBalance">+ R$ 1.587,00</span>
                    </div>

                    <div class="tools-container">
                        <span class="material-icons" id="btnEditWallet">edit</span>
                        <span class="material-icons" id="btnDeleteWallet">delete</span>
                    </div>
                </li>

                <li class="list-item">
                    <div class="icon-container">
                        <img src="https://picsum.photos/40" alt="Ícone da carteira">
                    </div>
                    
                    <div class="name-container">
                        <span id="walletName">Nome da carteira</span>
                    </div>

                    <div class="balance-container">
                        <span id="walletBalance">+ R$ 1.587,00</span>
                    </div>

                    <div class="tools-container">
                        <span class="material-icons" id="btnEditWallet">edit</span>
                        <span class="material-icons" id="btnDeleteWallet">delete</span>
                    </div>
                </li>

                <li class="list-item">
                    <div class="icon-container">
                        <img src="https://picsum.photos/40" alt="Ícone da carteira">
                    </div>
                    
                    <div class="name-container">
                        <span id="walletName">Nome da carteira</span>
                    </div>

                    <div class="balance-container">
                        <span id="walletBalance">+ R$ 1.587,00</span>
                    </div>

                    <div class="tools-container">
                        <span class="material-icons" id="btnEditWallet">edit</span>
                        <span class="material-icons" id="btnDeleteWallet">delete</span>
                    </div>
                </li>

                <li class="list-item">
                    <div class="icon-container">
                        <img src="https://picsum.photos/40" alt="Ícone da carteira">
                    </div>
                    
                    <div class="name-container">
                        <span id="walletName">Nome da carteira</span>
                    </div>

                    <div class="balance-container">
                        <span id="walletBalance">+ R$ 1.587,00</span>
                    </div>

                    <div class="tools-container">
                        <span class="material-icons" id="btnEditWallet">edit</span>
                        <span class="material-icons" id="btnDeleteWallet">delete</span>
                    </div>
                </li>

            </ul>
        </section>

        <section class="wallet-editor-container">

        </section>
    </main>

</body>
</html>